---
import beLogo from '../images/logo.svg?raw';
---

<div class="betteredit-logo">
    <Fragment set:html={beLogo}/>
</div>

<style is:global>
    
    .betteredit-logo {
        @apply
            flex h-[8rem] fill-text-50;
    }
    .betteredit-logo > svg {
        width: 100%;
        height: 100%;
    }

</style>
