---
import Paragraph from "./Paragraph.astro";


---

<h3><Paragraph><slot/></Paragraph></h3>

<style>
    
    h3 {
        @apply
            text-text-50 text-big font-head font-semibold
            max-w-paragraph;
    }

</style>
